[Unit]
Description=ServerSentry Agent Service
Wants=network-online.target
After=network-online.target

[Service]
Environment="PORT=45876"
# Port number can be overridden in serversentry-agent.conf if needed
EnvironmentFile=/etc/serversentry-agent.conf
ExecStart=/usr/bin/serversentry-agent
User=serversentry
Restart=on-failure
StateDirectory=serversentry-agent

# Security/sandboxing settings
KeyringMode=private
LockPersonality=yes
NoNewPrivileges=yes
PrivateTmp=yes
ProtectClock=yes
ProtectHome=read-only
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectSystem=strict
RemoveIPC=yes
RestrictSUIDSGID=true
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
